minio:
  secret:
    user: minio_alm_user
    password: minio_alm_password
    host: minio
    port: "9000"

    # Upload sample files to the minio bucket
  sampleFileUpload:
    enabled: false
    # bucket: failed_logs
    # urls:
    # - https://raw.githubusercontent.com/***


# pgvector:
#   secret:
#     user: postgres
#     password: alm_password
#     dbname: alm_db
#     host: pgvector
#     port: "5432"
  